<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Vue Petshop</title>
            <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
            
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
            <meta charsert="UTF-8"></meta>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>After School Classes</title>
            <script src= "https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
            <link rel="stylesheet" href="style.css">
        </head>
        
        <body>    
            <div id="app">
                <header>
                    <h1> {{sitename}} </h1>
                  </header>
                
                <button v-on:click="showCheckout">
                    {{cartItemCount}}
                    <span class="fa-solid fa-cart-shopping"></span> Checkout
                </button>
                <br>
             
                <main>
                    <section id="home" v-if="showSession">
                       
                      <!-- <button v-if = "removeFromCart" id=button v-on:click= "displayCheckout" > 
                        {{cartItemCount}} 
                        <i class="bx bx-cart"></i>
                        Checkout
                      </button>
                      <button  disabled="disabled" v-else> {{cartItemCount}} Items
                    </button> -->
                       
                    <section style="display: flex; flex-direction: row; width: 100%;">
            
                    <div id="filters" style="display:inline-flex; align-self: flex-start; width: 30%;">
                        <div>
                            <input type="radio" value= "Ascending" id="ascending" v-model="ascendSort"/> 
                            <Label for="ascending"> Ascending</Label> <br>
                            <input type="radio" value= "Descending" id="descending" v-model="ascendSort"/>
                            <label for="descending"> Descending</label>
                            <br>
                        </div>
                        <div>
                            <label> Sort by</label>
                            <select name="sort" v-model="sort">
                                <option>--Sort By--</option>
                                <option value="title">Title</option>
                                <option value="price">Price</option>
                                <option value="location">Location</option>
                                <option value="availablespace">Spaces</option>
                            </select>
                        </div>
                        <!-- <div>
                            <input type="text" v-model="searchTaken" placeholder="Search"/>
                            <br>
                        </div> -->
                        <!-- <div id="sort">
                            <div v-for="(value, key) in sort_dict">
                                
                                <input type="radio" name="sort" value="key" v-if="value.checked" checked v-on:click="sort(key)">
                                <input type="radio" name="sort" value="key" v-else v-on:click="sort(key)">
                                <label for="sort">{{key}}</label>
                            </div>
                        </div>
                        <div id="order">
                            <div v-for="(value, key) in order_dict">
                                <input type="radio" name="order" value="key" v-if="value.checked" checked v-on:click="order(key)">
                                <input type="radio" name="order" value="key" v-else v-on:click="order(key)">
                                <label for="order">{{key}}</label>
                            </div> 
                        </div> -->
                    </div>  
                        <section style="width: 100%;">
                            <div id="search">
                                <input type="text" placeholder="search" v-model="searchTaken">
                                <!-- <button ><i class='bx bx-search'></i></button> -->
                            </div>
            
                            <div id="classlists">
                                <div class="classlist" v-for="session in filterSessions()">
                                    <img v-bind:src="session.image" alt="" width="100%">
                                    <p>Title: {{session.title}}</p>
                                    <p>Description: {{session.description}}</p>
                                    <p>Location: {{session.location}}</p>
                                    <p>Price: {{session.price}}</p>
                                    <p>AvailableSpace: {{session.availablespace}}</p>
                                    <button v-on:click='addToCart(session)' v-if="canAddToCart(session)"> 
                                        Add To Cart</button>
                                    <button v-else disabled>Add To Cart</button>
                                </div>
                            </div>
                        </section> 
                    </section>
                </section>
                    <section id="cart_page" v-else>
                        <!--cart details after order-->
                        <div>
                            <h2>cart</h2>
                            <div id="classlists">
                                <div class="classlist"v-for="lesson in chechOut()">
                                    <p>Title: {{lesson.courses.title}} </p>
                                    <p>Location: {{lesson.courses.location}}</p>
                                    <p>Price: {{lesson.courses.price}}</p>
                                    <button v-on:click='removeCartItem(lesson)'> Remove from cart</button>
                                </div>
                            </div>
                        </div>
                        <!--user details: name, surname and phone number-->
                        <div id="Info">
                            <h2>Checkout</h2>
                            <button v-on:click="displayCheckout">
                                <i class='bx bx-left-arrow-alt'></i>  
                                Back 
                            </button>
                            
                            <!-- <p>
                                <strong>Surname:</strong>
                                <input v-model.trim="surname" type="text">
                            </p> -->
                            <p>
                                <strong>Name:</strong>
                                <input v-model.trim="name" type="text">
                            </p>
                            <div>
                            <p>
                                <strong>Phone Number:</strong>
                                <input v-model.number="phone" type="number">
                            </p>
                            </div>
                        <div>
                            <h2>User Lesson Selection</h2>
                            <!-- <p> Surname: {{surname}} </p> -->
                            <p> Name: {{name}}</p>
                            <p> Phone Number: {{number}}</p>
                        </div> 
                        
                        <div>
                            <h3>Complete</h3>
                            <!-- <button disabled="disabled" v-if="!isValid">Submit</button>
                            <button v-else v-on:click="submitForm">End</button> -->
                            <button disabled="disabled" v-if="!Correct"> Place Order </button>
                            <button v-else v-on:click="submitForm" type="submit"> Place Order </button>
                        </div>
                        </div>
                    </section>
                  </main>
               
               
                  <!-- <main>
                   
                    <div v-if="showSession">
                       
                        <br>
                        <div>
                            <label> Sort by</label>
                            <select name="sort" v-model="sort">
                                <option>--Sort By--</option>
                                <option value="title">Title</option>
                                <option value="price">Price</option>
                                <option value="location">Location</option>
                                <option value="availablespace">Spaces</option>
                            </select>
                        </div>
                        <br>
                        <div v-for="session in filterSessions()">
                                <br>
                            <i :class="session.icon"></i>

                            <h2 v-text="session.title"></h2>
                            <img v-bind:src="session.image" alt="" width="100%">
                            <p>Price: {{session.price}}</p>
                            <p>Location: {{session.location}}</p>
                            
                            <p>Space:{{session.availablespace}}</p>
                            
                            <button v-on:click='addToCart(session)' v-if="canAddToCart(session)"> 
                            Add to cart
                            </button>
                            <button disabled="disabled" v-else> 
                                Add to cart
                            </button>
                            <br> 
                        
                        </div>
                    </div>
                    
                    <div v-else>
                        <h2>Checkout</h2>

                        <div v-for="lesson in chechOut()">

                            <h2 v-text="lesson.courses.title"></h2>

                            <p>Price: {{lesson.courses.price}}</p>

                            <p>Location: {{lesson.courses.location}}</p>
                            <button v-on:click='removeCartItem(lesson)'> 
                                Remove Session
                                </button>
    

                        </div>
                        <p>
                            <strong>Name:</strong>
                            <input v-model.trim="name"/>
                        </p>

                        <P> 
                            <strong>Phone:</strong>
                            <input type="number" v-model.number="phone"  />
                        </P> 

                        <h2>Booking Information</h2>
                        <p>Name: {{name}}</p>
                        <p>Phone: {{phone}}</p>
                        <p>
                            <button disabled="disabled" v-if="!Correct"> Place Order </button>
                            <button v-else v-on:click="submitForm" type="submit"> Place Order </button>
                        </p>                   
                        

                    </div>
                </main> -->
            </div>

            <script>
            
                var club = new Vue ({

                    el: '#app',
                    created:()=>{
                        fetch(`http://localhost:3000/collection/courses`).then(res => res.json())
                        .then(res => {
                            club.sessions = res
                        })
                    },
                    data: 
                    {

                        sitename: 'AFTER SCHOOL CLUB',
                        
                        sessions: [], 

                        showSession: true,

                        cart: [],

                      
                            name: '',
                            phone: '',
                        

                        ascendSort: 'Ascending',

                        searchTaken: '',

                        sort:'--Sort By--'


                    },
                    
                    methods: 
                    {

                        addToCart (courses) {
                            courses.availablespace--
                            const id = Math.ceil(Math.random()*10000)+`${courses.title}`
                            this.cart.push({id:id, "courses":courses})
                        },

                        showCheckout (){
                        this.showSession= this.showSession ? false : true;

                        },

                        chechOut() {
                                let show = this.cart
                                return show
                        },

                        removeCartItem(cartSession) {

                            for (let i = 0; i < this.sessions.length; i++) {
                                const lssn = this.sessions[i];

                           if (cartSession.courses.id == lssn.id) {
                             lssn.availablespace++
                             break;
                            }
                            }
                            for (let i = 0; i < this.cart.length; i++) {
                                const item = this.cart[i];
                            if (cartSession.id == item.id) {
                                    this.cart.splice (i,1)
                                    break;
   
                                    }
                             }
                   },
                        submitForm(){
                            alert('Request submitted');
                            let data = {}
                            for (let i = 0; i < this.cart.length; i++) {
                                const item = this.cart[i].courses;
                                if (!data[`${item["_id"]}`]) {
                                    data[`${item["_id"]}`] = {
                                        "availablespace":1,
                                        "item":item
                                    }
                                }else{
                                    data[`${item["_id"]}`]["availablespace"]++
                                }
                            }

                            const keys = Object.keys(data)
                            const values = Object.values(data)
                            fetch(`http://localhost:3000/collection/order`,{
                                method:'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    "name":this.name,
                                    "phone":this.phone,
                                })
                            })
                            .then(result => result.json())
                            .then(result =>{
                                if (result.length == 1) {
                                    fetch(`http://localhost:3000/collection/order/${result[0]["_id"]}`,{
                                        method:'PUT',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({"items":values})
                                    }).then(result => result.json())
                                    .then(result => {
                                        for (let i = 0; i < keys.length; i++) {
                                            const key = keys[i];
                                            const value = values[i];
                                            fetch(`http://localhost:3000/collection/courses/${key}`,{
                                                method:'PUT',
                                                headers: {
                                                    'Content-Type': 'application/json'
                                                },
                                                body: JSON.stringify({"availablespace":value["item"].availablespace})
                                            })
                                        }
                                        this.cart = []
                                    })
                                }
                            }).catch(err =>{
                                console.log(err);
                            });
                         },
                         canAddToCart(courses) {
                        return  courses.availablespace > this.cartCount(courses.id);
                        },
                        cartCount(id) {
                        let count = 0;
                        for (let i=0; i < this.cart.length; i++){
                            if (this.cart[i] === id){
                                count++;
                            }
                        }
                        return count;
                                     },


                

                    sortPrice: function(priceArray){
                        function compare(a,b) {
                            if (a.price > b.price)
                                return 1;
                            if (a.price < b.price)
                                return -1;
                            return 0;
                        }
                        return priceArray.sort(compare);
                    },

                    sortLocation: function(locationArray){
                        function compare(a,b) {
                            if (a.location > b.location)
                                return 1;
                            if (a.location < b.location)
                                return -1;
                            return 0;
                        }
                        return locationArray.sort(compare);
                        
                    },
                    sortTitle: function(titleArray){
                        function compare(a,b) {
                            if (a.title > b.title)
                                return 1;
                            if (a.title < b.title)
                                return -1;
                            return 0;
                        }
                        return titleArray.sort(compare);
                        
                    },
                    sortSpaces: function(spacesArray){
                        function compare(a,b) {
                            if (a.availablespace > b.availablespace)
                                return 1;
                            if (a.availablespace < b.availablespace)
                                return -1;
                            return 0;
                        }
                        return spacesArray.sort(compare);                
                    },

                    filterSessions: function() {
                        let lessonses = this.sessions
                 
                        lessonses = lessonses.filter((courses) => {
                          
                            return courses.title.toLowerCase().match(this.searchTaken.toLowerCase()) || courses.location.toLowerCase().match(this.searchTaken.toLowerCase())
                            
                        }) 

                        if (this.sort == 'price') {
                            lessonses = this.sortPrice(lessonses)
                        }
                        else if (this.sort =='title') {
                            lessonses = this.sortTitle(lessonses)
                        }
                        else if (this.sort =='location') {
                            lessonses = this.sortLocation(lessonses)
                        }
                        else if (this.sort =='availablespace') {
                            lessonses = this.sortSpaces(lessonses)
                        }

                        if (this.ascendSort == 'Ascending'){
                            return lessonses
                        }
                        else if (this.ascendSort =='Descending'){
                            return lessonses.reverse()
                        }
                        return lessonses
                        
                    }
                },
                    

                    computed:  
                {
                    cartItemCount: function() {
                        return this.cart.length || '';
                    },
                    Correct: function(){
                        return this.name.trim () !=='' && this.phone !==''
                    }






                }

                    

               });
              
            </script>
        </body>
    </html>